<a href="https://colab.research.google.com/github/mina-fayazi/BN-Doped-Biphenylene/blob/main/BNDopedBiphenylene_CNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Mounting the Google Drive data:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Importing libraries and packages:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers, models

In [5]:
# Defining the database directory:
data_path = "/content/drive/MyDrive/BNDopedBiphData/data/BNDopedBiphenylene.csv"
# Storing the dataset in a Pandas dataframe:
data_frame = pd.read_csv(data_path)
display(data_frame)

,Batch Number,Atom Arrangements,a,b,Direct Eg,Indirect Eg,Optical Properties
0,1,1.0 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5875,9.0995,0.000,0.0041,NaN
1,2,0.5 1.0 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5876,9.1213,0.000,0.0066,NaN
2,3,0.5 0.5 1.0 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5862,9.1222,0.000,0.0007,NaN
3,4,0.5 0.5 0.5 1.0 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5874,9.0943,0.000,0.0041,NaN
4,5,0.5 0.5 0.5 0.5 1.0 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5884,9.1184,0.000,0.0049,NaN
5,6,0.5 0.5 0.5 0.5 0.5 1.0 0.5 0.5 0.5 0.5 0.0 0....,7.5925,9.1151,0.000,0.0029,NaN
6,7,0.5 0.5 0.5 0.5 0.5 0.5 1.0 0.5 0.5 0.5 0.0 0....,7.5962,9.0864,0.000,0.0030,NaN
7,8,0.5 0.5 0.5 0.5 0.5 0.5 0.5 1.0 0.5 0.5 0.0 0....,7.5930,9.1117,0.106,0.0630,NaN
8,9,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 1.0 0.5 0.0 0....,7.5888,9.1109,0.000,0.0048,NaN
9,10,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 1.0 0.0 0....,7.5938,9.0797,0.083,0.0763,NaN
10,11,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 1....,7.5969,9.1049,0.105,0.0812,NaN
11,12,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5885,9.0929,0.000,0.0060,NaN
12,13,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5910,9.1183,0.000,0.0007,NaN
13,14,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5914,9.1176,0.000,0.0019,NaN
14,15,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5892,9.0961,0.000,0.0057,NaN
15,16,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5873,9.1203,0.000,0.0067,NaN
16,17,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5850,9.1246,0.000,0.0032,NaN
17,18,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5945,9.0905,0.000,0.0005,NaN
18,19,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5837,9.1255,0.000,0.0025,NaN
19,20,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5832,9.1139,0.088,0.0514,NaN
20,21,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.6014,9.0786,0.071,0.0520,NaN
21,22,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5870,9.1185,0.101,0.0530,NaN
22,23,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0....,7.5813,9.1270,0.000,0.0040,NaN
23,24,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0.5 0....,7.5801,9.1418,0.000,0.0006,NaN
24,25,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0.5 0....,7.5693,9.1831,0.000,0.0032,NaN
25,26,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0.5 0....,7.5691,9.1830,0.000,0.0030,NaN
26,27,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0.5 0....,7.5781,9.1489,0.000,0.0010,NaN
27,28,0.5 0.5 0.5 1.0 0.5 0.5 0.5 0.5 0.5 0.0 0.5 0....,7.5746,9.1522,0.000,0.0011,NaN
28,29,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0.5 0....,7.5712,9.1546,0.000,0.0007,NaN
29,30,0.5 0.5 0.5 0.5 1.0 0.5 0.5 0.5 0.5 0.0 0.5 0....,7.5707,9.1786,0.000,0.0027,NaN
30,31,0.5 0.5 1.0 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0.5 0....,7.5706,9.1792,0.000,0.0019,NaN
31,32,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0.5 0....,7.5737,9.1781,0.000,0.0021,NaN
32,33,0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.0 0.5 0....,7.5737,9.1781,0.000,0.0017,NaN

In [6]:
# Importing MinMaxScaler from sklearn to normalize the data:
from sklearn.preprocessing import MinMaxScaler

# Creating the scaler:
y_scaler = MinMaxScaler()

# Specifying the dataset size:
rows = 6
columns = 4

# Specifying x and y data:
x_data = []
for index, row in data_frame.iterrows():
    #print(index, '  ', row['Atom Arrangements'])
    atom_list = list(row['Atom Arrangements'].split())
    #print(atom_list)
    atom_float_list = [float(x) for x in atom_list]
    #print(atom_int_list)
    #atom_matrix = np.array(atom_float_list)
    atom_matrix = np.reshape(atom_float_list, (rows, columns))
    #print(atom_matrix)
    x_data.append(atom_matrix)
#x_data = np.stack(x_data, axis=0)
#print(x_data)

y_data = np.array(data_frame['a'])
#y_data = data_frame['a'].values.tolist()
y_data = np.reshape(y_data, (-1, 1)) #Reshaping 1D array to 2D array
y_data = y_scaler.fit_transform(y_data)
#y_data = np.reshape(y_data, (-1,-1,1)) #Reshaping 2D array to 3D array
#print(y_data)

In [18]:
#Definning CNN model:
model = models.Sequential()
model.add(layers.Flatten())
model.add(layers.Dense(64, activation='relu'))
model.add(layers.Dense(32, activation='relu'))
model.add(layers.Dense(24, activation='relu'))
model.add(layers.Dense(1))

input_shape=(None, rows, columns, 1)
model.build(input_shape)

model.summary()

# Compiling the model:
model.compile(loss="mean_squared_error", optimizer="RMSProp")

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten_1 (Flatten)         (None, 24)                0

 dense_4 (Dense)             (None, 64)                1600

 dense_5 (Dense)             (None, 32)                2080

 dense_6 (Dense)             (None, 24)                792

 dense_7 (Dense)             (None, 1)                 25

=================================================================
Total params: 4,497
Trainable params: 4,497
Non-trainable params: 0
_________________________________________________________________

In [38]:
batch_size = 32 #number of training samples in one forward/backward pass
num_epoch = 10 #one epoch means one forward and one backward pass of all the training samples
actual_y = []
predicted_y = []

for i in range(5):
  # Test:
  #print("Iteration ", i, " :")
  x_test = np.array(x_data[i])
  x_test = np.reshape(x_test, (1, rows, columns)) #Reshaping to 2D array
  y_test = np.array(y_data[i])
  y_test = np.reshape(y_test, (1, -1)) #Reshaping to 2D array
  actual_y.append(y_data[i])
  #print("x test shape: ", x_test.shape)
  #print("y test shape: ", y_test.shape)
  #print("x test: ", x_test)
  #print("y test: ", y_test)
  #print("----------------------------")
  # Train:
  x_train = np.delete(x_data, i, axis=0)
  y_train = np.delete(y_data, i, axis=0)
  #print("x train shape: ", x_train.shape)
  #print("y train shape: ", y_train.shape)
  #print("x train: ", x_train)
  #print("y train: ", y_train)

  # Model Training:
  model_log = model.fit(x_train, y_train,
                      batch_size=batch_size,
                      epochs=num_epoch,
                      verbose=0,
                      validation_data=(x_test, y_test))

  # Evaluating the model:
  model.evaluate(x_test, y_test, verbose=0)

  # Predicting the test data:
  y_pred = model.predict(x_test)
  predicted_y.append(y_pred)
  print("Predicted y: ", y_pred, "   Predicted y without scalar: ",y_scaler.inverse_transform(y_pred))
  print("Actual y:    ", y_test, "   Actual y without scaler:    ",y_scaler.inverse_transform(y_test))

actual_y = np.reshape(actual_y, (-1))
predicted_y = np.reshape(predicted_y, (-1))
#print("Actual y values: ", actual_y)
#print("Predicted y values: ", predicted_y)

# Mean Squared Error:
MSE = np.square(np.subtract(actual_y, predicted_y)).mean()
print("Mean Squared Error = ", MSE)

# R-squared:
ss_t = 0 #total sum of squares
ss_r = 0 #total sum of square of residuals

y_mean = actual_y.mean()
#print(y_mean)

for i in range(5):
  ss_t += (actual_y[i] - y_mean) ** 2
  ss_r += (actual_y[i] - predicted_y[i]) ** 2

R2 = 1 - (ss_r/ss_t)
print("R-Squared = ", R2)

1/1 [==============================] - 0s 18ms/step
Predicted y:  [[0.58903277]]    Predicted y without scalar:  [[7.5881257]]
Actual y:     [[0.56965944]]    Actual y without scaler:     [[7.5875]]
1/1 [==============================] - 0s 23ms/step
Predicted y:  [[0.61072266]]    Predicted y without scalar:  [[7.588826]]
Actual y:     [[0.57275542]]    Actual y without scaler:     [[7.5876]]
1/1 [==============================] - 0s 20ms/step
Predicted y:  [[0.61339015]]    Predicted y without scalar:  [[7.5889125]]
Actual y:     [[0.52941176]]    Actual y without scaler:     [[7.5862]]
1/1 [==============================] - 0s 17ms/step
Predicted y:  [[0.5794879]]    Predicted y without scalar:  [[7.587817]]
Actual y:     [[0.56656347]]    Actual y without scaler:     [[7.5874]]
1/1 [==============================] - 0s 21ms/step
Predicted y:  [[0.6436375]]    Predicted y without scalar:  [[7.5898895]]
Actual y:     [[0.59752322]]    Actual y without scaler:     [[7.5884]]
Mean Squared Error =  0.0022325544881213817
R-Squared =  -3.6808717281163537
R2 =  -3.6808717281163537